<% provide :title, t("login.title") %>
<h1><%= t("login.h1") %></h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label t("login.email") %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t("login.pwd") %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t("login.login_btn") %>
  </div>
<% end %>

<p><%= t :signup_ad %> <%= link_to t(:signup_btn), signup_path %></p>