<% provide :title, t(:user_edit_title, user_name: @user.name) %> 
<h1><%= t :user_edit_h1 %></h1>

<%= form_for(@user) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label t(:user_name_lbl) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:user_email_lbl) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t(:user_pwd_lbl) %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label t(:user_pwd_cfm) %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label t(:user_gravatar_lbl) %> <br />
    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails"><%= t :user_gravatar_chg_btn %></a>
  </div>
  <div class="actions">
    <%= f.submit t(:user_maj_btn) %>
  </div>
<% end %>

<%= form_for(@user, method: :delete) do |f| %>
  <div class="actions">
    <%= f.submit t(:user_delete_btn), confirm: t(:user_delete_cfm) %>
  </div>
<% end %>
