<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
       <%= t :post_published_lbl %> <%= time_ago_in_words(micropost.created_at) %><%= t :post_datetime_ago %>.
    </span>
  </td>
   <% if current_user?(micropost.user) %>
    <td>
      <%= link_to t(:post_delete_btn), micropost, :method => :delete,
                                       :confirm => t(:post_delete_cfm),
                                       :title => micropost.content %>
    </td>
  <% end %>
</tr>