<header class="round">
  <div id="app">
    <h1 id="app_title">AsocialNet</h1>
    <h3 id="app_slogan">A network made for asocials</h3>
  </div>

  <!--<% logo = image_tag "marvin.png", alt: "Marvin robot", class: "round" %>-->
  <!--<%= link_to logo, root_path %>-->
  <nav class="round">
    <ul>
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      	<li><%= link_to "Profile", current_user %></li>
      	<li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
