<header class="round">
  <div id="app">
    <h1 id="app_title">AsocialNet</h1>
  </div>
  <nav class="round">
    <ul>
      <li><%= link_to t(:home_link), home_path %></li>
      <li><%= link_to t(:help_link), help_path %></li>
      <% if signed_in? %>
      	<li><%= link_to t(:users_link), users_path %></li>
      	<li><%= link_to t(:settings_link), edit_user_path(current_user) %></li>
      	<li><%= link_to t(:profile_link), current_user %></li>
      	<li><%= link_to t(:logout_link), logout_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to t(:login_link), login_path %></li>
      <% end %>
    </ul>
  </nav>
  <h3 id="app_slogan"><%= t :slogan %></h3>
</header>
